body{
  font-family: 'Raleway', sans-serif;

 }

header {
  width:100%; 
  background-color: #c3dbdd;
  background-image: url("/images/brick-wall-dark.png");
  height: 20vw;
  margin-bottom:1vw;
}
#pic1 {
  postion:absolute;
  float: left;
  margin-top:1.8vw;
  margin-left:5vw;

}

#profile{
   
   width:15%;
   border:5px solid black;
}

#name{
	position:absolute;
    float:left;
    margin-left:50vw;
    font-size:2vw;
}
#info{
	position:absolute;
	float:left;
    margin-top:8vw;
    margin-left:50vw;
    
}

.group{
    font-family: 'Libre Franklin', sans-serif;
    font-size:1.2vw;
	padding:0.5vw;

}
.logo{
  background-image: url("/images/gravel.png");
  background-color:red;
  width:50%;
  height:3vw;
  margin-left:30px;
  border: 1px solid red;
  padding:1.5vw;
  
 ;

}

.main
{

width:100%;



}
.sidebar {
    width: 23%;
    float: left;
    background-image: url("/images/gravel.png");
    background-color: #c3dbdd;
    margin-right:1vw;

    
    
}
.headings{
   font-family: 'Libre Franklin', sans-serif;
   margin-left:2vw;
   font-size:1.2vw;
   padding:1vw;


   }




.content {
    width: 75%;
    float: right;
    
    background-color: white;
    background-image: url("/images/brick-wall-dark.png");

}
.summary{
font-family: 'Source Serif Pro', serif;
font-size:1.5vw;
margin-left:5vw;
margin-right:5vw;
}
.companyname{

 color:#21437a;
 margin-bottom:2vw;
 font-size:2vw;

}

#section6, #section5, #ge,#waters,#section4, #section3{

	text-align: justify;
}
/* Images Panel */
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 1vw;
  height:25%;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.certs{
	width:100%;
	border:5px solid #7a5f55;

}
